/*!
Theme Name:   Storefront Child
Theme URI:    https://woocommerce.com/storefront/
Author:       Native Orgone
Author URI:   https://nativeorgone.com
Description:  Native Orgone Store
Template:     storefront
Version:      2.5.1
License:      GNU General Public License v2 or later
License URI:  https://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  storefrontchild
Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options, editor-style

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Storefront is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer https://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/

All sizing (typography, layout, padding/margins, etc) are inspired by a modular scale that uses 1em as a base size with a 1.618 ratio.
You can read more about the calculator we use in our Sass here: https://github.com/modularscale/modularscale-sass

FontAwesome License: SIL Open Font License - http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
Images License: GNU General Public License v2 or later
*/
/*
======
Note: Do not edit this file. If you wish to add your own CSS, go to Customizer > Additional CSS.
======
*/
/**
 * Global styles applied to all non-woocommerce theme components. Includes styles for;
 *
 * Typography
 * Header
 * Footer
 * Main content area
 * Accessiblity helper classes
 * 404
 * Comments
 * Content (posts etc)
 * Forms
 * Media
 * Menus
 * pagination
 * Post formats
 * Widgets
 */

/**
 * Typography
 */
body,
button,
input,
textarea {
  color: #43454b;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.618;
  text-rendering: optimizeLegibility;
  font-weight: 400; }

body {
  font-size: 1em;
}

select {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1,
.alpha {
  letter-spacing: normal;
}

.site {
  padding-bottom: 100px;
}

/**
 * Header
 */
.site-header {
  border-bottom: none;
  padding-bottom: 8px;
  padding-top: 8px;
}

.site-branding {
  position: relative;
}

.site-branding .site-title {
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 34px;
  text-transform: uppercase;
}

.site-branding .site-title a {
  font-weight: 500;
  display: block;
  position: relative;
}

/**
 * Main Naivgation
 */
/**
 * General Menu Styles
 */
button.menu-toggle {
  font-size: 14px;
  padding: 4px 8px 4px 32px;
  /* padding: 0.3125em 0.625em 0.3125em 2.375em; */
}

button.menu-toggle::before,
button.menu-toggle::after,
button.menu-toggle span::before {
  left: 10px;
}

.main-navigation ul li a {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.site-header-favorites {
  display: none;
}




/**
 * Media
 */
img {
  border-radius: 0;
  vertical-align: middle;
}

/**
 * Selects
 */
.select-wrap {
  background-color: #eee;
  border: 1px solid #eee;
  margin-bottom: 10px;
  position: relative;
}

.select-wrap:after {
  color: #333;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  line-height: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  z-index: 0;
}

.select-wrap select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #333;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 45px;
  padding: 6px 40px 6px 12px;
  position: relative;
  width: 100%;
  z-index: 1;
}

/**
 * Music Library Filters
 */

.music-list-filters__submit {
  margin-bottom: 10px;
  vertical-align: middle;
}

@media screen and (min-width: 37.5em) { /* 600px */
  .music-list-filters__select-wrap {
    display: inline-block;
    margin-right: 10px;
    min-width: 120px;
    vertical-align: middle;
  }
}

@media screen and (min-width: 61.875em) { /* 990px */
  .music-list-filters__select-wrap,
  .music-list-filters__submit {
    margin-bottom: 0;
  }
}


/**
 * Music Library
 */
.music-list__row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.music-list__row-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.music-list__cell,
.music-list__cell-inner {
  order: 0; /* default */
  flex: 0 1 auto; /* grow, shrink, basis */
}

.music-list__cell:first-child {
  flex: 0 0 25%; /* grow, shrink, basis */
}

.music-list__cell:last-child {
  flex: 0 0 25%; /* grow, shrink, basis */
  text-align: right;
}

.music-list__cell p {
  margin: 0;
  white-space: nowrap;
}

.music-list__btn-play-pause {
  border-radius: 50%;
  height: 45px;
  padding: 0;
  width: 45px;
}
.music-list__btn-play-pause:before {
  /*content: '\025B8';*/
  content: '\f04b';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
}

.music-list__btn-play-pause--playing:before {
  /*content: '\02223\02223';*/
  content: '\f04c';
}

.btn--favorite:before {
  content: '\02606';
}

.btn--favorite:hover:before {
  content: '\02605';
}

.btn--is-favorite:before {
  content: '\02605';
}





/**
 * Player
 */

.player {
  background: #fff;
  border-top: 1px solid #ccc;
  bottom: 0;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 100%;
}


.player__left {
  float: left;
  width: 50%;
}

.player__right {
  float: left;
  width: 50%;
}

@media screen and (min-width: 43.75em) { /* 700 */
  .player__left {
    width: 33.33333333%;
  }

  .player__right {
    width: 66.66666667%;
  }
}

@media screen and (min-width: 75em) { /* 1200 */
  .player__left {
    width: 25%;
  }

  .player__right {
    width: 75%;
  }
}


.player__song-image,
.player__controls,
.player__song-details {
  display: inline-block;
  vertical-align: middle;
}

.player__song-image {
  width: 80px;
}

.player__btn-play-pause {
  border-radius: 100%;
  height: 45px;
  padding: 0;
  width: 45px;
}
.player__btn-play-pause:before {
  /*content: '\025B8';*/
  content: '\f04b';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  line-height: 30px;
  vertical-align: middle;
}

.player__btn-play-pause--playing:before {
  /*content: '\02223\02223';*/
  content: '\f04c';
  font-family: 'Font Awesome 5 Free';
}

.player__waveform > wave {
  overflow: hidden !important;
}


/* License Dialog */
/* License Dialog */
/* License Dialog */
/* License Dialog */
/* License Dialog */

.license-dialog {
  background: #fff;
  padding: 40px;
  position: relative;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.license-dialog .mfp-close {
  color: #333;
}

.title--license-dialog {
  
}

.license-dialog__song-details {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.license-dialog__song-image {
  width: 80px;
}

.license-dialog__song-text {
  margin-left: 15px;
}

.license-dialog__song-link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.license-dialog__song-link:after {
  background-color: #fff;
  bottom: 10px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 50%;
  color: #000;
  content: '\f04b';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  display: inline-block;
  left: 10px;
  line-height: 25px;
  padding: 5px 4px 5px 6px;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  width: 25px;
}

.license-dialog__song-title {
  font-weight: 700;
}

.license-dialog__song-artist {
  font-size: 0.875em;
  text-transform: uppercase;
}

.license-form__summary {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 20px;
}

.product-variation-price {
  display: none;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: right;
}

.license-form .btn--add-to-cart {
  display: block;
  width: 100%;
}

/* License Dialog */
/* License Dialog */
/* License Dialog */
/* License Dialog */
/* License Dialog */



/* Popup Player */
/* Popup Player */
/* Popup Player */
/* Popup Player */
/* Popup Player */
.project-post {
  margin-bottom: 30px;
}

.project-post__thumbnail-wrap {
  text-align: center;
}

.mfp-player-popup .mfp-content > div {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  width: 100%;
}

.mfp-player-popup .mfp-close {
  background: #000;
}

.popup-player {
  background: #fff;
}

.theme--dark .popup-player {
  background: #1A1A1A;
}

.popup-player__image-wrap {
  background: #fff;
}

.theme--dark .popup-player__image-wrap {
  background: #0A0A0A;
}

.popup-player__image {
  text-align: center;
}

.popup-player__image img {
  vertical-align: middle;
}

.popup-player__table-wrap {
  padding: 0 50px 40px;
}

.popup-player__table {
  margin-bottom: 0;
}

.popup-player__table-thead tr {
  background-color: #fff;
}

.theme--dark .popup-player__table-thead tr {
  background-color: #0A0A0A;
}

.popup-player__table-thead th,
.table > .popup-player__table-thead th {
  border-bottom: none;
  font-weight: 700;
  text-transform: uppercase;
}

.popup-player__table-thead th:last-child {
  text-align: right;
}

.popup-player__product-heading {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
  position: relative;
}

.popup-player__product-heading--title:before,
.popup-player__product-heading--length:after {
  background: #fff;
  content: '';
  height: 100%;
  position: absolute;
  width: 50px;
}

.theme--dark .popup-player__product-heading--title:before,
.theme--dark .popup-player__product-heading--length:after {
  background: #0A0A0A;
}

.popup-player__product-heading--title:before {
  right: 100%;
  top: 0;
}

.popup-player__product-heading--length:after {
  left: 100%;
  top: 0;
}


.table > .popup-player__table-tbody > tr:first-child > td {
  border-top: none;
}

.popup-player__table tbody tr {

}

.popup-player__table tbody td {
  border-bottom: 1px solid #ccc;
}

.theme--dark .popup-player__table tbody td {
  border-bottom: 1px solid #4D4D4D;
}

.popup-player__table tbody tr td {
  vertical-align: middle;
}

.popup-player__table tbody .popup-player__product-icon {
  text-align: center;
}

.popup-player__product-link {
  position: relative;
}

.popup-player__product-link:after {
  font-family: 'Font Awesome 5 Free';
  font-size: 20px;
  right: 100%;
  padding-right: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: middle;
}

.popup-player__product-link--play:after {
  content: '\f144';
}

.popup-player__product-link--playing:after {
  content: '\f028';
}

.popup-player__product-link--lock:after {
  content: '\f023';
}

.popup-player__table > thead > tr > th {
  padding: 0 8px;
}

.popup-player__table > tbody > tr > td {
  padding: 15px 8px;
}

.popup-player__table > thead > tr > th.popup-player__product-name-th,
.popup-player__table > tbody > tr > td.popup-player__product-name {
  padding-left: 0;
}

.popup-player__table > thead > tr > th.popup-player__product-length-th,
.popup-player__table > tbody > tr > td.popup-player__product-length {
  padding-right: 0;
}

.popup-player__table td:last-child {
  text-align: right;
}


.popup-player__table a:link,
.popup-player__table a:visited {
  color: #333;
}


.theme--dark .popup-player__table a:link,
.theme--dark .popup-player__table a:visited {
  color: #fff;
}


.popup-player__table a:hover,
.popup-player__table a:active,
.popup-player__table a:focus,
a:link.popup-player__product-link--playing,
.popup-player__table a:link.popup-player__product-link--playing,
.popup-player__table-tr--playing {
  color: #1e73be;
}


.theme--dark .popup-player__table a:hover,
.theme--dark .popup-player__table a:active,
.theme--dark .popup-player__table a:focus,
a:link.popup-player__product-link--playing,
.theme--dark .popup-player__table a:link.popup-player__product-link--playing,
.theme--dark .popup-player__table-tr--playing {
  color: #1e73be;
}

.popup-player__table-tr--lock,
.popup-player__table-tr--lock a,
.popup-player__table-tr--lock a:link,
.popup-player__table-tr--lock a:visited,
.popup-player__table-tr--lock a:hover,
.popup-player__table-tr--lock a:focus {
  color: #808080;
}
/* Popup Player */
/* Popup Player */
/* Popup Player */
/* Popup Player */
/* Popup Player */



/* Footer */
.site-footer {
  padding: 0;
}




/**
 * Vertical Centering
 */
 
.center-vertical-wrap {
    position: relative;
}

.center-vertical {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

/**
 * Aspect-Ratio-Aware Fluid Objects
 */

.object-fluid {
    height: 0;
    position: relative;
}

a.object-fluid {
    display: block;
}

.object-fluid--16x9 {
    padding-bottom: 56.25%;
}

.object-fluid--4x3 {
    padding-bottom: 75%;
}

.object-fluid--1x1 {
    padding-bottom: 100%;
}

.object-fluid img,
.object-fluid iframe,
.object-fluid video,
.object-fluid object {
    height: 100%; 
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/**
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/**
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/**
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/**
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/**
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/**
 * >= 768px
 */
@media (min-width: 768px) {
  .site-header {
    /* padding-top: 2.617924em; */
    padding-top: 0;
    padding-bottom: 0; }

  .woocommerce-active .site-header .main-navigation {
    /* width: 73.9130434783%; */
    width: auto;
    /* float: left; */
    float: right;
    margin-right: 20px;
    /* clear: both; */
    clear: none; }

  .woocommerce-active .site-header .site-branding,
  .storefront-secondary-navigation.woocommerce-active .site-header .site-branding {
    /* width: 21.7391304348%; */
    width: auto;
    float: left;
    /* margin-right: 4.347826087%; */
    margin-right: 0; }
  .storefront-secondary-navigation.woocommerce-active .site-header .secondary-navigation {
    width: 47.8260869565%;
    /* float: left; */
    float: right;
    /* margin-right: 4.347826087%; */ }
  .site-branding .site-title {
    line-height: 50px;
  }

  .site-branding {
    margin-bottom: 0; }

  .col-full--full-width {
    max-width: none; }

  .main-navigation ul.menu > li > a {
    padding: 10px 16px; }
  .main-navigation ul.nav-menu > li {
    padding: 0 10px;
  }
  .main-navigation ul.nav-menu > li > a {
    line-height: 50px;
    padding: 0;
    text-transform: uppercase;
  }

  .woocommerce-active .site-header .site-header-cart {
    width: auto;
  }

  .site-header-cart .cart-contents {
    padding: 12px 0;
  }

  .site-header-cart .cart-contents::after {
    float: none;
    margin-left: 5px;
  }

  .site-header-favorites {
    display: block;
    float: right;
    list-style-type: none;
    margin: 0 20px 0 0;
  }

  .site-header-favorites__link:before {
    content: '\02605';
  }

  .site-header-favorites__link:after {
    content: attr(data-favorites);
  }

  .site-header-favorites__link {
    line-height: 50px;
    position: relative;
  }

} /* min-width 768px */
